<h1>Professor: <%= @professor.name %>  </h1>

<p>Average Age of Students: <%= @students.average_age %> </p>
<p></p>
<p>Students:</p>

<% @students.each do |kid| %>
<p>---------------</p>
<p>Name: <%= kid.name %> </p>
<p>Age: <%= kid.age %> </p>
<p>House: <%= kid.house %> </p>
<% end %>
